<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Application test</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" >
        <link href="css/style.css" rel="stylesheet" >
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/core.js"></script>
    </head>
    <body>
        <div class="container" id="content">
            <div class="row">
                <div class="offset-4 col-4">
                    <form>
                        <div class="mb-3">
                            <label for="data_login" class="form-label">Логин</label>
                            <input type="text" class="form-control" id="data_login">
                        </div>
                        <div class="mb-3">
                            <label for="data_password" class="form-label">Пароль</label>
                            <input type="password" class="form-control" id="data_password">
                        </div>
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    </html>